@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('~/assets/fonts/agency_fb.ttf') format('truetype');
}

/* @font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('~/assets/fonts/Robot-Regular.ttf') format('truetype');
} */

:root[theme='novisV2'] {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  --base: 31, 29, 51;
  --base-light: 41, 41, 69;
  --base-dark: 24, 23, 39;
  --primary: 61, 208, 216;
  --primary-light: 194, 212, 248;
  /* --primary-dark: 56, 140, 133;  */
  --secondary: 161, 100, 209;
  --tertiary: 92, 157, 220;
  --accent: 0, 179, 213;
  --background-gradient: linear-gradient(
    90deg,
    rgba(102, 224, 229, 1) 0%,
    hwb(268 42% 8%) 100%
  );
}

:root[theme='default'] {
  --base: 12, 15, 24;
  --base-light: 221, 225, 227;
  --primary: 13, 148, 136;
  --primary-light: 74, 175, 166;
  --primary-dark: 56, 140, 133;
  --secondary: ;
  --accent: ;
}

:root[theme='update'] {
  --base: 34, 40, 49;
  --base-light: 253, 244, 255;
  --primary: 240, 84, 84;
  --primary-light: 242, 105, 105;
  --primary-dark: 150, 53, 53;
  --secondary: ;
  --accent: ;
}

body {
  background-color: rgb(var(--base));
}

.router-link-active {
  color: rgb(var(--primary)) !important;
}

.hero-clip {
  clip-path: polygon(50% 100%, 0 0, 100% 0);
}

.page-enter-from,
.page-leave-to {
  opacity: 0;
}
.page-enter-to,
.page-leave-from {
  opacity: 1;
}
.page-enter-active,
.page-leave-active {
  transition: all 0.5s;
}

.layout-enter-from,
.layout-leave-to {
  opacity: 0;
}
.layout-enter-to,
.layout-leave-from {
  opacity: 1;
}
.layout-enter-active,
.layout-leave-active {
  transition: all 0.5s;
}
