@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('~/assets/fonts/agency_fb.ttf') format('truetype');
}

/* @font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('~/assets/fonts/Robot-Regular.ttf') format('truetype');
} */

:root[theme='default'] {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  --base: 31, 29, 51;
  --base-light: 41, 41, 69;
  --base-dark: 24, 23, 39;
  --primary: 61, 208, 216;
  --primary-light: 194, 212, 248;
  /* --primary-dark: 56, 140, 133;  */
  --secondary: 161, 100, 209;
  --tertiary: 92, 157, 220;
  --accent: 247, 165, 76;
  --background-gradient: linear-gradient(
    90deg,
    rgba(102, 224, 229, 1) 0%,
    hwb(268 42% 8%) 100%
  );
  --li-icon: url("data:image/svg+xml;utf8,%3Csvg preserveAspectRatio='xMidYMid meet' viewBox='0 0 128 128' width='1.2em' height='1.2em' xmlns='http://www.w3.org/2000/svg' %3E%3Cpath fill='%23e0e0e0' stroke='%23e0e0e0' stroke-miterlimit='10' stroke-width='6' d='M48.3 102.32L12.65 66.87a2.2 2.2 0 0 1 0-3.12l9-9.01c.86-.86 2.25-.86 3.11 0l23.47 23.33c.86.86 2.26.85 3.12-.01l51.86-52.36c.86-.87 2.26-.87 3.13-.01l9.01 9.01c.86.86.86 2.25.01 3.11l-56.5 57.01l.01.01l-7.45 7.49c-.86.86-2.26.86-3.12 0z'/%3E%3Cpath fill='%23757f3f' d='M-27.53-17.19c-3.08-3.09-8.13-3.08-11.21 0L-63.65 7.72c-3.08 3.08-8.13 3.08-11.21 0l-24.91-24.9c-3.08-3.08-8.12-3.08-11.21 0l-6.21 6.21c-3.08 3.09-3.08 8.13 0 11.21l24.91 24.91c3.08 3.08 3.08 8.13 0 11.21l-24.91 24.91c-3.08 3.08-3.08 8.12 0 11.21l6.22 6.22c3.08 3.08 8.13 3.08 11.21 0l24.91-24.91c3.08-3.08 8.13-3.08 11.21 0l24.91 24.91c3.08 3.08 8.13 3.08 11.21 0l6.21-6.22c3.08-3.09 3.08-8.13 0-11.21l-24.91-24.9c-3.08-3.08-3.08-8.13 0-11.21L-21.31.25c3.08-3.08 3.08-8.12 0-11.21l-6.22-6.23z'/%3E%3C/svg%3E")
    no-repeat;
}

:root[theme='insanity'] {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  --base: 245, 245, 245;
  --base-light: 60, 60, 60;
  --base-dark: 27, 31, 34;
  --primary: 255, 213, 128;
  --primary-light: 156, 163, 175;
  --secondary: 56, 189, 248;
  --tertiary: 92, 157, 220;
  --accent: 247, 165, 76;
  --background-gradient: linear-gradient(
    180deg,
    rgb(123, 81, 201) 10%,
    rgba(var(--secondary), 1) 100%
  );
  --nav-icon: url("data:image/svg+xml;utf8,%3Csvg viewBox='0 0 256 256' width='1.2em' height='1.2em' xmlns='http://www.w3.org/2000/svg' %3E%3Cpath fill='currentColor' d='m238.8 113.9l-96.7-96.7a19.8 19.8 0 0 0-28.2 0l-96.7 96.7a19.8 19.8 0 0 0 0 28.2l96.7 96.7a19.8 19.8 0 0 0 28.2 0l96.7-96.7a19.8 19.8 0 0 0 0-28.2ZM128 219l-91-91l91-91l91 91Z'/%3E%3C/svg%3E")
    no-repeat;
}

:root[theme='update'] {
  --base: 34, 40, 49;
  --base-light: 253, 244, 255;
  --primary: 240, 84, 84;
  --primary-light: 242, 105, 105;
  --primary-dark: 150, 53, 53;
  --secondary: ;
}

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: rgb(var(--secondary)) rgb(var(--base));
}
/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 8px;
}
*::-webkit-scrollbar-track {
  background: rgb(var(--base));
}
*::-webkit-scrollbar-thumb {
  background-color: rgb(var(--secondary));
  border-radius: 10px;
  border: 0px none rgb(var(--secondary));
}
*::-webkit-scrollbar-thumb:hover {
  background-color: rgba(var(--secondary), 60%);
}

body {
  background-color: rgb(var(--base));
}

.router-link-active {
  color: rgb(var(--primary)) !important;
}

.hero-clip {
  clip-path: polygon(50% 100%, 0 0, 100% 0);
}

ul {
  list-style: none;
  margin-inline-start: 0;
  padding-inline-start: 0;
}

ul li {
  padding-inline-start: 0;
}

ul li::before {
  content: '';
  background-image: var(--li-icon);
  mask: var(--li-icon) no-repeat;
  mask-size: 100% 100%;
  -webkit-mask: var(--li-icon) no-repeat;
  -webkit-mask-size: 100% 100%;
  background-color: rgb(var(--tertiary));
  margin-inline-end: 1rem;
  padding-inline-end: 2ch; /* size off the icon */
  padding-block: 1ch;
}

.insanity-nav-item-link:not(:first-child)::before {
  content: '';
  position: absolute;
  top: 50%;
  left: -8px;
  transform: translateY(-50%);
  background-image: var(--nav-icon);
  mask: var(--nav-icon) no-repeat;
  mask-size: 100% 100%;
  -webkit-mask: var(--nav-icon) no-repeat;
  -webkit-mask-size: 100% 100%;
  background-color: rgb(var(--base), 60%);
  padding-inline-end: 2ch; /* size off the icon */
  padding-block: 1ch;
}
.insanity-nav-item-link:not(:first-child)::after {
  content: '';
  position: absolute;
  top: 50%;
  left: -14.75px;
  transform: translateY(-50%);
  background-image: var(--nav-icon);
  mask: var(--nav-icon) no-repeat;
  mask-size: 100% 100%;
  -webkit-mask: var(--nav-icon) no-repeat;
  -webkit-mask-size: 100% 100%;
  background-color: rgb(var(--base), 5%);
  padding-inline-end: 4ch; /* size off the icon */
  padding-block: 2ch;
}

.page-enter-from,
.page-leave-to {
  opacity: 0;
}
.page-enter-to,
.page-leave-from {
  opacity: 1;
}
.page-enter-active,
.page-leave-active {
  transition: all 0.3s;
}

.layout-enter-from,
.layout-leave-to {
  opacity: 0;
}
.layout-enter-to,
.layout-leave-from {
  opacity: 1;
}
.layout-enter-active,
.layout-leave-active {
  transition: all 0.3s;
}
